.edit {
  background: blue;
  padding: 0.5rem;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 10%;
  left: 60%;
}
.profile {
  height: 30vh;
  width: 30vw;
  background-size: cover;
  border-radius: 50%;
}
